.layout-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: 0;
  border-top: 1px solid #eeeeee;
  transition: all 0.5s;
  }

.footer-disclaimer {
  font-size: 92%;
  display: block;
  color: #777777;
  line-height: 4;
  text-align: center;
}